@keyframes quadrado {
    0% {background-color: white;}
    25% {background-color:rgb(225, 235, 142);}
    50% {background-color: rgb(245, 236, 116);}
    75% {background-color: rgb(240, 237, 58);}
    100% {background-color: rgb(251, 255, 0);}
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
} 

.Redes:hover {
    color: black;
    text-decoration: underline;
}

.loca {
    text-decoration: none;
    color: black;
}


.loca:hover{
    text-decoration: underline;
    color: rgb(65, 64, 64);
}

.locaa {
    width: 20px;
    height: 20px;
}


.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}



#banners{
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}


.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 1px 0px black;
    margin: 0;
    padding: 0;
    width: 300px;
}
nav img {
    width: 280px;
    height: 64px;
}

.banner_headline h2 {
    color: white;
    font-size: 20px;
    text-shadow: 2px 1px 0px black;
    margin: 0;
    padding: 0;
    width: 300px;
    margin-top: 30px;
}
.banner_options{
    height: 225px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 10px;
    
}

.banner1 {
    background-color: rgb(221, 221, 71) ;
}
.banner2 {
    background-color: rgb(189, 189, 62) ;
}
.banner3 {
    background-color: rgb(170, 170, 47) ;
}

.banner_title {
    font-size: 21px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: black;
}


.banner_desc a {
    text-decoration: none;
    color: white;
}
.nav-wrapper a {
    color: black;
}
.nav-wrapper ss {
    color: white;
}
.banner_desc {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.lermais  {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.card-content a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.lermais:hover{
    color: black;
    text-decoration: underline;
}



.banner_desc1,
.banner_desc2,
.banner_desc3 {
    border-bottom: 1px solid white;
    padding: 12px;
}

#geral {
    display: flex;
    justify-content: space-between;
    height: 1000px;
}



#bloo1, .bloo1
{
width: 140px;
height: 140px;
margin-right: 30px;
margin-bottom: 30px;
background-color: rgb(17, 17, 17);
animation-name: quadrado;
animation-duration: 2s;
animation-iteration-count: infinite;
}

.bloo1 {
    display: flex;
    justify-content: center
    
}

.bolo1,.bolo2,
.bolo3,.bolo4,
.bolo5,.bolo6 {
    width: 135px;
    height: 135px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


footer {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    
}

.fm_1,.fm_2,.fm_3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.fm_1{
    background-color: rgb(204, 204, 84) ;
    margin: 0;
}
.fm_2 {
background-color: rgb(189, 189, 62) ;
text-decoration: none;

}
.fm_3 {
    background-color: rgb(170, 170, 47) ;
}

.footer_area {
display: flex;
}
.flexcolumn {
    flex-direction: column;
}
.footer_areaitem{
    color: white;
    flex: 1;
}

footer .widget_title_text {
    color: white;
    
}


.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 10px;
}

.fm_1 h1, .fm_2 h1 {
    font-size: 17px;
    color: black;
}
.fm_1 h5 {
    color: black;
}

.fm_1 .pix {
    width: 70px;
    height: 30px;
    
}

.pix, .master, .visa, .hipercard, .amex, .elo {
    margin-right: 5px; 
}
.elo {
    margin-top: 5px;
}


.fm_2 h1{
   margin-left: 100px;
}
.fm_2 a {
    text-decoration: none;
    color: black;
}

.fm_3 h1{
    font-size: 16px;
    color: black;
}

.fm_2 a:hover {
    color: #727272;
    text-decoration: underline;
    background-color:yellow;
}


.mm_line {
    height: 3px;
    background-color: rgb(175, 175, 56);
}



.contatoss{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300pxpx;
    
}

.areacontatos {
    background-color: black;
    height: 100%;
    color: #5c5c5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    border: 1px solid white;

}

.areacontatos p {
    color: white;
}

#top {
    background-image: url('/Assets/Imagen/Banner1.jpg');
    
}

#titlect {
    margin-left: 20px;
}

#menunav {
    background-color: rgba(255, 255, 1, 0.466);
}



section#top nav{
	background-color: rgba(255, 230, 0, 0.6);
	height: 6.2em;
	padding: 1em;
}
section#top nav ul a{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.bg-top {
    background: url(https://i.ibb.co/MsSg8Ws/Banner1.jpg) no-repeat top ;
    background-size: auto;
}

#logomenu {
    margin-left: 20px;
    width: 17em;
    height: 5em;
}


section#top nav ul li:nth-child(3){
	border-left: 1px solid rgb(102, 104, 5);
}



.cont {
    display: flex;
    height: 54em;
    background-color: rgba(238, 255, 0, 0.267);
    
}

#art1, #art2, #art3,#art4 {
    display: flex;
    justify-content: center;
}
#modalbolo1, #modalbolo2,#modalbolo3,#modalbolo4,#modalbolo5,#modalbolo6 {
    width: 40em;
    height: 37em;
}

.cards {
    display: flex;
    width: 66%;
    flex-wrap: wrap;
}
#areabol {
    display: flex;
    
    width: 100%;
    flex-direction: column;
}
article img {
    width: 200.599px;
    height: 200.599px;
    display: flex;
    box-shadow:  0 0 3em rgb(251, 255, 0);
    
}
#partbol {
    
    width: 200.599;
    height: 200.599px;
    display: flex;
    margin-right: 30px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 80px;
}
.areasecon{
    display: flex;
}

#card1 {
    display: block;
    width: 300px;
    height: 300px;
}
.card {
    display: block;
    width: 300px;
    margin-left: 50px;
}

#card2{
    display: flex;
    
}
#cardmargin {
    margin-left: 50px;
    margin-right: 70px;
    padding: auto;
}

.depart {
    display: flex;
    
    width: 34%;
    flex-wrap: wrap;
}

.arearight,.areadireita {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    

}

.areaqua{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    padding: 10px;
}
#layoutmenu {
    display: none;
}
#formacoes {
    display: none;
}
#partmobile{
    display: none;
}
#menuzin {
    display: flex;
}

#Mobtext {
    display: none;
}
.carousel {
    display: none;
}

#modal2 {
    background-color: rgb(221, 221, 71) ;
}  
#modal3 {
    background-color: rgb(189, 189, 62) ;
}
#modal4 {
    background-color: rgb(170, 170, 47);
}


@media only screen and (min-width: 601px) {
    .row .col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}


@media screen and (max-width: 773px) {
    #cardmargin {
        width: auto;
        height: auto;
    }
    #bloo1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 135px;
    }
    #arearight {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    }

    #flexs {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #formacoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .depart{
        display: none;
    }
    .cards {
        
        width: 100%;
        height: 100%;
        background-color: aqua;
        
    }

    #rows {
        display: block;
    }
    .cont {
        display: flex;
        flex-direction: column;
    }
    #partmobile{
        display: block;
    }
    #Secondpart {
        display: none;
    }

    #blocos{
        display: none;
    }

    #text-in {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 80px;
        margin-top: 50px;
        height:200px;
        width: 350px;
    }
    
    #layoutmenu{
        background-color: rgb(230, 230, 5);
        height: 5em;
        display: flex;
        justify-content: center;

    }
    #Sidemenu ul{
        display: flex;
    }
    #Sidemenu ul li {
        margin-right: 15px;
        color: black;
    }
    #Sidemenu ul li a{
        color: black;
    }
    #banners{
        display: none;
    }
    #Mobtext {
        color: white;
        height: 25em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #Mobtext h1 {
       
        font-size: 40px;
    }
    #Mobtext h2 {
       
        font-size: 25px;
    }
    .footer_menu {
        flex-direction: column;

    }
    .footer_area {
        flex-direction: column
    }
    .footer_copy {
        padding-left: 20px;
    }

    
}












