@keyframes quadrado {
    0% {background-color: white;}
    25% {background-color:rgb(225, 235, 142);}
    50% {background-color: rgb(198, 228, 68);}
    75% {background-color: rgb(216, 235, 52);}
    100% {background-color: rgb(217, 255, 0);}
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
} 

.Redes:hover {
    color: black;
    text-decoration: underline;
}

.loca {
    text-decoration: none;
    color: black;
}


.loca:hover{
    text-decoration: underline;
    color: rgb(65, 64, 64);
}

.locaa {
    width: 20px;
    height: 20px;
}


.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}



#banners{
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}


.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 1px 0px black;
    margin: 0;
    padding: 0;
    width: 300px;
}
nav img {
    width: 280px;
    height: 64px;
}

.banner_headline h2 {
    color: white;
    font-size: 20px;
    text-shadow: 2px 1px 0px black;
    margin: 0;
    padding: 0;
    width: 300px;
    margin-top: 30px;
}
.banner_options{
    height: 225px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 10px;
    
}

.banner1 {
    background-color: rgb(221, 221, 71) ;
}
.banner2 {
    background-color: rgb(189, 189, 62) ;
}
.banner3 {
    background-color: rgb(170, 170, 47) ;
}

.banner_title {
    font-size: 21px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: black;
}


.banner_desc a {
    text-decoration: none;
    color: white;
}
.nav-wrapper a {
    color: black;
}
.nav-wrapper ss {
    color: white;
}
.banner_desc {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.lermais  {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.card-content a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.lermais:hover{
    color: black;
    text-decoration: underline;
}



.banner_desc1,
.banner_desc2,
.banner_desc3 {
    border-bottom: 1px solid white;
    padding: 12px;
}

#geral {
    display: flex;
    justify-content: space-between;
    height: 1000px;
}



.bloo1,.bloo2,
.bloo3,.bloo4,
.bloo5,.bloo6 {
width: 135px;
height: 135px;
margin-right: 30px;
margin-bottom: 30px;
background-color: rgb(255, 255, 255);
animation-name: quadrado;
animation-duration: 2s;
animation-iteration-count: infinite;
}

.bloo1 {
    display: flex;
    justify-content: center
    
}

.bolo1,.bolo2,
.bolo3,.bolo4,
.bolo5,.bolo6 {
    width: 135px;
    height: 135px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


footer {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    
}

.fm_1,.fm_2,.fm_3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.fm_1{
    background-color: rgb(204, 204, 84) ;
    margin: 0;
}
.fm_2 {
background-color: rgb(189, 189, 62) ;
text-decoration: none;

}
.fm_3 {
    background-color: rgb(170, 170, 47) ;
}

.footer_area {
display: flex;
}
.flexcolumn {
    flex-direction: column;
}
.footer_areaitem{
    color: white;
    flex: 1;
}

footer .widget_title_text {
    color: white;
    
}


.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 10px;
}

.fm_1 h1, .fm_2 h1 {
    font-size: 17px;
    color: black;
}
.fm_1 h5 {
    color: black;
}

.fm_1 .pix {
    width: 70px;
    height: 30px;
    
}

.pix, .master, .visa, .hipercard, .amex, .elo {
    margin-right: 5px; 
}
.elo {
    margin-top: 5px;
}


.fm_2 h1{
   margin-left: 100px;
}
.fm_2 a {
    text-decoration: none;
    color: black;
}

.fm_3 h1{
    font-size: 16px;
    color: black;
}

.fm_2 a:hover {
    color: #727272;
    text-decoration: underline;
    background-color:yellow;
}


.mm_line {
    height: 3px;
    background-color: rgb(175, 175, 56);
}
@media (max-width:767px) {
    .banner_headline h1 {
        font-size: 45px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
        
    }
    .container {
        flex-direction: column;
        

    }
    .widget_title_text {
        margin-top: 120px;
    }


    #geral section {
        padding: 20px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;

    }
    .footer_area {
        flex-direction: column
    }
    .footer_copy {
        padding-left: 20px;
    }

    
    
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: rgb(219, 219, 61);
    }
    
    .logo {
        padding-left: 20px;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
 
        #banner {
            background-image: url(../Imagen/banner3.jpg);
            background-position:top;
            
            
        }
        .banner_headline h1, .banner_headline h2 {
         color: white;
        }
   
}


.contatoss{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300pxpx;
    
}

.areacontatos {
    background-color: black;
    height: 100%;
    color: #5c5c5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    border: 1px solid white;

}

.areacontatos p {
    color: white;
}


#titlect {
    margin-left: 20px;
}

#menunav {
    background-color: rgba(255, 255, 1, 0.466);
}



section#top nav{
	background-color: rgba(255, 230, 0, 0.6);
	height: 6.2em;
	padding: 1em;
}
section#top nav ul a{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.bg-top {
    background: url(https://i.ibb.co/MsSg8Ws/Banner1.jpg) no-repeat top right ;
    background-size: auto;
}

#logomenu {
    margin-left: 20px;
    width: 17em;
    height: 5em;
}


section#top nav ul li:nth-child(3){
	border-left: 1px solid rgb(102, 104, 5);
}

#secondpart {
    
    background-image: url(https://i.ibb.co/r7js0t4/Set-of-vector-cartoon-doodle-icons-dessert-cake-ice-cream-sweets-food-Illustration-of-comic-baking.jpg);
}

.cont {
    
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
}

.cards {
    justify-content: center;
    display: flex;
    
    width: 70%;
    flex-wrap: wrap;
}

#card1 {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: px;
}
.card {
    display: block;
    width: 300px;
    margin-left: 50px;
}

#card2{
    display: flex;
    
}
#cardmargin {
    margin-left: 50px;
    margin-right: 70px;
}

.depart {
    display: flex;
}

.arearight {
    display: flex;
}

.bolosqua{
    display: flex;
    
    flex-direction: column;
}